<h1>About searchBerkeley</h1>
{{outlet}}
<h3 class="green">This application is a celebration of the great food you can find in my hometown.</h3>
  <p>I use multiple endpoints from Yelp's API to bring you information about local business. This includes review snippets, image tiles, restaurant names, ratings, location, and more.</p>
