<h1>Ben's Favorites</h1>

<div class="button-group">
  <a href="http://search-berkeley.surge.sh/bens-favorites/tacos">
  <div class="btn btn-success inline">Mexican</div></a>
  {{!-- <a href="http://search-berkeley.surge.sh/bens-favorites/italian"><div class="btn btn-success inline">Italian</div></a><a href="http://search-berkeley.surge.sh/bens-favorites/cafe"><div class="btn btn-success inline">Cafe</div></a><a href="http://search-berkeley.surge.sh/bens-favorites/shops"><div class="btn btn-success inline">One-stop-shops</div></a><br>
  <a href="http://search-berkeley.surge.sh/bens-favorites/healthy"><div class="btn btn-success inline">Healthy</div></a><a href="http://search-berkeley.surge.sh/bens-favorites/puerto-rican"><div class="btn btn-success inline">Puerto Rican</div></a> --}}
</div>

{{outlet}}
